body {
    font-family: Roboto, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
    margin: 0px;
    display: flex;
    flex-direction: column;
}

img {
    width: 300px;
}

ul {
    list-style-type: none;
    font-size: small;
}

li {
    text-decoration: none;
    margin: 0px;
    padding:0px
}

a {
    color: white;
    text-decoration: none;
    margin: 8px 0px;
}


.header {
    background-color: #1f2937;
    color: white;
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

}

.right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;

}

.logo {
    margin: 8px 8px 64px 0px;
    font-size: larger;
    font-weight: bold;
}

.top-link-list {
    display: flex;
    gap: 16px;
    margin: 8px 0px 40px;
    font-weight: lighter;
}

.page-title {
    width: 300px;
    font-size: xx-large;
    font-weight: bolder;
    display: flex;
    margin: 2px;
}

.subtext {
    margin: 2px;
    font-size: small;
    display: flex;
    width: 350px;
}

.top-button {
    margin: 16px 0px;
    padding: 8px;
    border:0px;
    border-radius: 8px;
    color: white;
    background-color: #3882f6;
    font-size: small;
    font-weight: bold;
    display: flex;
}

